<html>
<head>
  <title>
    Access Denied:
  </title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
    <img src="https://www.gstatic.com/images/icons/material/system/2x/error_outline_red_48dp.png" />
    <h1>You don't have access</h1>
    <p>Randstad Automation Suite is only accessible to specific Randstad employees. Please <b><a href="javascript:void(0)" (click)="login()">log in</a></b> as a user with access to continue.</p>
    <p>If you should have access but are still seeing this page, please contact <a href="mailto:fakeemail@gmail.com">fakeemail@gmail.com</a></p>
    <dl>
      <h3>Loging Info:</h3>
      <div>
        <dt>User:</dt>
        <dd>{{user}}</dd>
      </div>
      <div>
        <dt>Email:</dt>
        <dd>{{email}}</dd>
      </div>
      <div>
        <dt>Access:</dt>
        <dd>{{access}}</dd>
      </div>
    </dl>
  </div>
</body>
</html>